/* ---------------------------------------------------------------------------
GENERAL
----------------------------------------------------------------------------*/
body {
  font-family: Open Sans;
  font-weight: lighter;
  color:#383838;
  /*font-family: Vollkorn, monospace;*/
  /*font-family: Josefin Slab, monospace;*/
  /*background-color: #DC143C;
  color: black;*/
  /*font-family: Ubuntu, monospace;*/
}
/* Hyperlinks */
a:link {
    color: #383838;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: #383838;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
}
a:active {
    color: #383838;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: #383838;
    background-color: transparent;
    text-decoration: none;
}
/* Picture captions */
p {
  color: black;
  padding: 0px;
  margin: 0px;
  font-size: 9px;
  font-weight: lighter;
}
/* Sampreeth Rao */
h3 {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 5px;
  text-align: center;
  /*color: red;*/
}
/* Triangle & Seed */
h6 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 13px;
  font-weight: lighter;
  text-align: center;
}
/* Bold menu titles on hover */
.menu:hover {
  font-weight: bold;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
/*.row {
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
}*/

/* ---------------------------------------------------------------------------
EXTRA LARGE SCREENS (DESKTOPS, LAPTOPS)
----------------------------------------------------------------------------*/
@media (min-width: 1500px) {
  .container{
      min-width: 1500px;
  }
  .socialmedialogos{
    padding-top: 10px;
    padding-left: 50px;
  }
  .copyright{
    padding-top: 10px;
    text-align: left;
    padding-left: 50px;
    font-size: 10px;
  }
  .squares {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 30px;
    padding-right: 30px;
    /*background-color: #eee;
    background-color: rgba(86,61,124,.15);
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);*/
    text-align: center;
  }
  .menu {
    padding-top: 0px;
    padding-bottom: 12px;
    /*background-color: #eee;
    background-color: rgba(86,61,124,.15);
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);*/
    text-align: center;
    font-size: 14px;
  }
  .secondrowmenu {
    padding-bottom: 65px;
  }
  /* General embed padding */
  .embedpadding {
    padding-left: 45px;
    padding-right: 45px;
  }
  /* Padding for 50mm side by side photos */
  .embedpaddingleft {
    padding-left: 0px;
    padding-right: 5px;
  }
  /* Padding for 50mm side by side photos */
  .embedpaddingright {
    padding-right: 0px;
    padding-left: 5px;
  }
  .embedtextpadding {
    padding-top: 25px;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 25px;
  }
  /* Sampreeth Rao */
  h3 {
    margin-top: 45px;
    margin-bottom: 16px;
  }
  /* grid text */
  p[id$='gridtext'] {
    margin-bottom: 28px;
    margin-top: 5px;
    font-size: 14px;
  }
  /*embed description text*/
  p[id$='embedptext']{
    font-size: 14px;
  }
  /*photo caption spacing*/
  p.caption{
    margin-bottom: 16px;
    font-size: 14px;
  }
  /*embed photo spacing*/
  img.photo {
    margin-bottom: 28px;
  }
  /*embed photo spacing for photos with captions (ie. 50mm photos)*/
  img.photowithcaption {
    margin-bottom: 10px;
  }
  .greyfade:hover img, .greyfade:focus img, .greyfade:active img {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    /* Firefox 10+, Firefox on Android */
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    /* IE 6-9 */
    -moz-transition: all 0.25s ease-in;
    -o-transition: all 0.25s ease-in;
    -webkit-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
  }
  .greyfade:hover p, .greyfade:focus p, .greyfade:active p {
    font-weight: bold;
    -moz-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    -webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
  }
}
/* ---------------------------------------------------------------------------
LARGER SCREENS (DESKTOPS, LAPTOPS)
----------------------------------------------------------------------------*/
/*@media (max-width: 1499px)*/
@media only screen and (min-width:992px) and (max-width: 1499px)  {
  .squares {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 30px;
    padding-right: 30px;
    /*background-color: #eee;
    background-color: rgba(86,61,124,.15);
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);*/
    text-align: center;
  }
  .socialmedialogos{
    padding-top: 10px;
    padding-left: 47px;
  }
  .copyright{
    padding-top: 10px;
    text-align: left;
    padding-left: 47px;
    font-size: 10px;
  }
  .menu {
    padding-top: 0px;
    padding-bottom: 12px;
    /*background-color: #eee;
    background-color: rgba(86,61,124,.15);
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);*/
    text-align: center;
    font-size: 14px;
  }
  .secondrowmenu {
    padding-bottom: 50px;
  }
  /* General embed padding */
  .embedpadding {
    padding-left: 45px;
    padding-right: 45px;
  }
  /* Padding for 50mm side by side photos */
  .embedpaddingleft {
    padding-left: 0px;
    padding-right: 5px;
  }
  /* Padding for 50mm side by side photos */
  .embedpaddingright {
    padding-right: 0px;
    padding-left: 5px;
  }
  .embedtextpadding {
    padding-top: 25px;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 25px;
  }
  /* Sampreeth Rao */
  h3 {
    margin-top: 24px;
    margin-bottom: 12px;
  }
  /* grid text */
  p[id$='gridtext'] {
    margin-bottom: 28px;
    margin-top: 5px;
    font-size: 14px;
  }
  /*embed description text*/
  p[id$='embedptext']{
    font-size: 14px;
  }
  /*photo caption spacing*/
  p.caption{
    margin-bottom: 16px;
    font-size: 14px;
  }
  /*embed photo spacing*/
  img.photo {
    margin-bottom: 28px;
  }
  /*embed photo spacing for photos with captions (ie. 50mm photos)*/
  img.photowithcaption {
    margin-bottom: 10px;
  }
  .greyfade:hover img, .greyfade:focus img, .greyfade:active img {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    /* Firefox 10+, Firefox on Android */
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    /* IE 6-9 */
    -moz-transition: all 0.25s ease-in;
    -o-transition: all 0.25s ease-in;
    -webkit-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
  }
  .greyfade:hover p, .greyfade:focus p, .greyfade:active p {
    font-weight: bold;
    -moz-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    -webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
  }
}

/* ---------------------------------------------------------------------------
SMALL SCREENS (TABLETS)
----------------------------------------------------------------------------*/
@media (max-width: 991px) {
  .squares {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 25px;
    padding-right: 25px;
    /*background-color: #eee;
    background-color: rgba(86,61,124,.15);
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);*/
    text-align: center;
  }
  .socialmedialogos{
    padding-top: 10px;
    padding-left: 40px;
  }
  .copyright{
    padding-top: 10px;
    text-align: left;
    padding-left: 40px;
    font-size: 9px;
  }
  .menu {
    padding-top: 0px;
    padding-bottom: 12px;
    /*background-color: #eee;
    background-color: rgba(86,61,124,.15);
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);*/
    text-align: center;
  }
  /* Spacing between the menu and the first grid element */
  .secondrowmenu {
    padding-bottom: 50px;
  }
  .embedpadding {
    padding-left: 40px;
    padding-right: 40px;
  }
  /* Padding for 50mm side by side photos */
  .embedpaddingleft {
    padding-left: 0px;
    padding-right: 5px;
  }
  /* Padding for 50mm side by side photos */
  .embedpaddingright {
    padding-right: 0px;
    padding-left: 5px;
  }
  .embedtextpadding {
    padding-top: 12px;
    padding-left: 40px;
    padding-right: 70px;
    padding-bottom: 12px;
  }

    /* Sampreeth Rao */
    h3 {
      margin-top: 24px;
      margin-bottom: 12px;
    }
    /* grid text */
    p[id$='gridtext'] {
      margin-bottom: 23px;
      margin-top: 5px;
      font-size: 13px;
    }
    /*embed description text*/
    p[id$='embedptext']{
          font-size: 13px;
    }
    /*photo caption spacing*/
    p.caption{
      margin-bottom: 14px;
      font-size: 13px;
    }
    /*embed photo spacing*/
    img.photo {
      margin-bottom: 23px;
    }
    /*embed photo spacing for photos with captions (ie. 50mm photos)*/
    img.photowithcaption {
      margin-bottom: 8px;
    }
}
/* ---------------------------------------------------------------------------
XTRA SMALL SCREENS (CELLPHONES)
----------------------------------------------------------------------------*/
@media (max-width: 767px) {
    .container{
        max-width: 500px;
    }
    .squares {
      padding-top: 0px;
      padding-bottom: 0px;
      padding-left: 10px;
      padding-right: 10px;
      /*background-color: #eee;
      background-color: rgba(86,61,124,.15);
      border: 1px solid #ddd;
      border: 1px solid rgba(86,61,124,.2);*/
      text-align: center;
    }
    .socialmedialogos{
      padding-top: 10px;
      padding-left: 17px;
      text-align:center;
    }
    .copyright{
      padding-top: 10px;
      text-align: left;
      padding-left: 25px;
      font-size: 9px;
    }
    .menu {
      padding-top: 0px;
      padding-bottom: 8px;
      padding-left: 0px;
      padding-right: 0px;
      /*background-color: #eee;
      background-color: rgba(86,61,124,.15);
      border: 1px solid #ddd;
      border: 1px solid rgba(86,61,124,.2);*/
      text-align: center;
    }
    /* Spacing between the menu and the first grid element */
    .secondrowmenu {
      padding-bottom: 20px;
    }
    .embedpadding {
      padding-left: 25px;
      padding-right: 25px;
    }
    /* Padding for 50mm side by side photos */
    .embedpaddingleft {
      padding-left: 25px;
      padding-right: 25px;
    }
    /* Padding for 50mm side by side photos */
    .embedpaddingright {
      padding-right: 25px;
      padding-left: 25px;
    }
    .embedtextpadding {
      padding-top: 9px;
      padding-left: 25px;
      padding-right: 25px;
      padding-bottom: 9px;
    }
    /*  Sampreeth Rao */
    h3 {
      margin-top: 20px;
      margin-bottom: 20px;
      letter-spacing: 2px;
    }
    /* gridtext */
    p[id$='gridtext'] {
      margin-bottom: 12px;
      margin-top: 5px;
      font-size: 13px;
    }
    /*embed description text*/
    p[id$='embedptext']{
          font-size: 13px;
    }
    /*photo caption spacing*/
    p.caption{
      margin-bottom: 8px;
      font-size: 13px;
    }
    /*embed photo spacing*/
    img.photo {
      margin-bottom: 12px;
    }
    /*embed photo spacing for photos with captions (ie. 50mm photos)*/
    img.photowithcaption {
      margin-bottom: 2px;
    }
}

/* ---------------------------------------------------------------------------
Centered Columns (for the menu)
----------------------------------------------------------------------------*/
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    /* inline-block space fix */
    margin-right:0px;
}


/* ---------------------------------------------------------------------------
Fade image to grey on mouseover, make text bold on mouseover
----------------------------------------------------------------------------*/


/*
.primary img {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.primary:hover img {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></svg>#grayscale");
  -webkit-filter: none;
  filter: none;
}*/
